@{
    ViewData["Title"] = "Home Page";
}

<h2>Автоматизированная система учета книг в библиотеке</h2>

<p><h5>Общее количество книг: @ViewData["countBook"]</h5></p>

<p><h5>Авторы: @ViewData["countAuthor"]</h5></p>

<p><h5>Жанры: @ViewData["countGanre"]</h5></p>
