@{
    ViewData["Title"] = "Home Page";
}


    <h4 class="display-4">Автоматизированная система учета книг в библиотеке</h4>
    <p><h5>Общее количество книг: 12</h5></p>
    <p><h5>Авторы: 1</h5></p>
    <p><h5>Жанры: 1</h5></p>
