@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>

<p>Это курсовая работа студента БГУИР Старосельца Евгения.</p>
<p>Данный проект выполнен при помощи фреймворка asp.net.core MVC в среде разработи Visual Studio 2019</p>
