@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<style>
    p {
        text-indent: 40px;
    }
</style>

<body>
    <h5>
        <p>Это курсовая работа студента БГУИР Старосельца Евгения.</p>
        <p>Данный проект выполнен при помощи фреймворка asp.net.core MVC в среде разработи Visual Studio 2019</p>
        <p><img src="~/img/asp.jpg"></p>
        <p>Фреймворк ASP.Net Core MVC базируется на взаимодействии трех компонентов: контроллера, модели и представления.</p>
        <p>Model (Модель) описывает используемые в приложении данные, а также логику, которая связана непосредственно с данными, например, логику валидации данных. Как правило, объекты моделей хранятся в базе данных.</p>
        <p>View (Представление) отвечают за визуальную часть или пользовательский интерфейс, нередко html-страница, через который пользователь взаимодействует с приложением. Также представление может содержать логику, связанную с отображением данных. В то же время представление не должно содержать логику обработки запроса пользователя или управления данными.</p>
        <p>Controller (Контроллер) представляет центральный компонент MVC, который обеспечивает связь между пользователем и приложением, представлением и хранилищем данных. Он содержит логику обработки запроса пользователя. Контроллер получает вводимые пользователем данные и обрабатывает их. И в зависимости от результатов обработки отправляет пользователю определенный вывод, например, в виде представления, наполненного данными моделей. </p>
        <p><img src="~/img/mvc.png"></p>
    </h5>
</body>