<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebLibrary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebLibrary</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="List" asp-action="ListOfBooks">Список книг</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="ListOfAuther">Список авторов</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Ganres" asp-action="ListOfGanres">Жанры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Publisher" asp-action="ListOfPublisher">Издательства</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebLibrary - <a asp-area="" asp-controller="Home" asp-action="Privacy">About</a>

            <span id="time">Дата и время</span>
            <script type="text/javascript">
                function clock() {
                    var d = new Date();
                    var day = d.getDate();
                    var hrs = d.getHours();
                    var min = d.getMinutes();
                    var sec = d.getSeconds();

                    var mnt = new Array("января", "февраля", "марта", "апреля", "мая",
                        "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря");

                    if (day <= 9) day = "0" + day;
                    if (hrs <= 9) hrs = "0" + hrs;
                    if (min <= 9) min = "0" + min;
                    if (sec <= 9) sec = "0" + sec;

                    $("#time").html("Сейчас: " + hrs + ":" + min + ":" + sec + "&nbsp;&nbsp;&nbsp;" +
                        day + "-го " + mnt[d.getMonth()] + " " + d.getFullYear() + " г.");
                }
                setInterval("clock()", 1000);
            </script>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
